.dobokocka
{
    padding-left: 330px;
}
.jatekos1szov{
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    color: red;
    padding-left: 330px;
}
.jatekos2szov{
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    color: green;
    padding-left: 330px;
}
.gomb{
    margin-top: 60px;
    text-align: center;
}
.tabla
{
    margin-top: 100px;
}
#dobas{
    margin: 0px;
    font-size: 1.5em;
    background-image: linear-gradient(to bottom right, purple, white);
}
#nyertes{
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    color: blue;
}
.hatter{
    background-image: linear-gradient(left,top,purple, green);
}
