.dobokocka
{
    padding-left: 380px;
}
.jatekos1szov{
    font-family:'Courier New', Courier, monospace;
    color: red;
    padding-left: 370px;
}
.jatekos2szov{
    font-family:'Courier New', Courier, monospace;
    color: green;
    padding-left: 370px;
}
.gomb{
    margin-top: 60px;
    text-align: center;
}
.tabla
{
    margin-top: 100px;
}
#dobas{
    margin: 0px;
}
